body {
    font-family: "Ubuntu", "Kosugi Maru", sans-serif;
}

.font-sm {
    font-size: 14px;
}
.font-lg {
    font-size: 25px;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}

.conten-width {
    width: 90%;
    margin: 0 auto;
    max-width: 1070px;
}

section {
    padding: 30px;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: $cbHeader;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: all 0.3s;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s;
    }

    //mobile画面
    // &__nav {
    //     display: none;
    // }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .conten-width;
    }

    &__home-title {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 26px;

        & > a {
            color: $cH1;
            text-decoration: none;
            transition: all 0.3s;
        }
    }

    &__home-link {
        &.triggered {
            color: $cbHeader;
            transition: all 0.3s;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        padding: 0;
        margin-left: 19px;
        @extend .font-sm;

        & > a {
            color: $cLink;
            text-decoration: none;
        }
    }
}

#content {
    padding-top: $navHeight;
}

.title {
    &__inner {
        @extend .conten-width;
    }

    &__main-title {
        margin: 10px 0;
    }

    & .cover-slide {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $cbHeader;
        }

        &.inview {
            &::after {
                @include animation(
                    $name: kf-cover-slide,
                    $duration: 1.6s,
                    $timing-function: ease-in-out
                );
            }
        }
    }

    // & .hover-darken {
    //     &::before {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: 30;
    //         background-color: rgba(0, 0, 0, 0.4);
    //     }
    // }
    // }

    &__img {
        opacity: 0;

        .inview & {
            opacity: 1;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            @include animation(
                $name: kf-img-show,
                $duration: 1.6s,
                $timing-function: ease-in-out
            );
        }
    }

    &__guest-login-button {
        text-align: center;
        padding-top: 40px;
    }
}

.information {
    background-color: $cbInfo;

    &__inner {
        @extend .conten-width;
    }
    &__discription {
        margin-top: $infoMargin;
        border-bottom: 1px solid;
    }
    &__step {
        margin-bottom: 29px;
    }
    &__step-sub {
        font-size: 21px;
        margin-bottom: 17px;
    }

    &__ex {
        color: rgb(82, 82, 82);
    }
    &__guest-login-button {
        text-align: center;
        padding-top: 40px;
    }
}

//keyframs
@keyframes kf-cover-slide {
    0% {
        left: 0%;
        right: 100%;
    }
    50% {
        left: 0%;
        right: 0%;
    }
    100% {
        left: 100%;
        right: 0%;
    }
}

@keyframes kf-img-show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    50.1% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
    }
}
