body {
    font-family: "Ubuntu", "Kosugi Maru", sans-serif;
}

.font-sm {
    font-size: 14px;
}
.font-lg {
    font-size: 25px;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}

.conten-width {
    width: 90%;
    margin: 0 auto;
    max-width: 1070px;
}

#content {
    padding-top: $navHeight;
}

.submit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

input[type="radio"] {
    display: none;
}

a {
    text-decoration: none !important;
    list-style: none;
}

//習慣の一覧画面
.habits {
    &__container {
        @extend .conten-width;
    }
    &__content-title {
        letter-spacing: 7px;
        border-bottom: 2px solid;
        text-align: center;
        margin-bottom: 52px;
        font-weight: 600;
        letter-spacing: 5px;
        color: #3f51b5;
    }
    // &__inner {
    //     display: flex;
    //     justify-content: start;
    //     flex-direction: column;
    // }

    &__item {
        border-bottom: 2px solid;
        margin-bottom: 24px;
        margin-right: 2px;
        color: #000;
        border-color: #00000038;
    }

    &__item-name {
        margin: 0;
        font-size: 16px;
    }

    &__btn {
        text-align: right;
    }
}

// 習慣の作成・編集画面
.habits-create {
    &__container {
        @extend .conten-width;
    }
    &__content-title {
        letter-spacing: 7px;
        border-bottom: 2px solid;
        text-align: center;
        margin-bottom: 52px;
        font-weight: 600;
        letter-spacing: 5px;
        color: #3f51b5;
    }

    &__form {
        & .form-group {
            text-align: center;
        }
    }

    &__item-name {
        font-size: 15px;
        letter-spacing: 8px;
    }

    &__text-form {
        padding: 4px;
        border: none;
        border-bottom: 1px solid #00000040;
        &:focus {
            outline: none;
            @include animation($name: kf-border-color, $duration: 0.3s);
            border-bottom: 1px solid rgba(0, 38, 252);
        }
    }

    &__btn-inner {
        display: flex;
        justify-content: flex-end;
        margin: 30px 0;
    }
    &__create-btn {
        text-align: end;
        margin-bottom: 15px;
    }
    &__edit-btn {
        text-align: end;
        margin-right: 17px;
    }

    &__delete-btn {
        margin-top: 5px;
    }
}

@keyframes kf-border-color {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    100% {
        transform-origin: left;
        transform: scaleX(1);
    }
}
